# MODS205 - Digital Finance - Project

### Leonardo Hannas de Carvalho Santos
### Vinícius Barros Alvarenga

---
## Question 1
**Comment on the article “Crypto’s Richest Rebel” from Fortune April/May 2022 available on the e-campus website using all keywords and concepts covered in the course.**

---
## Question 2
**Comment on the article “Binance CEO Changpeng Zhao charged with money laundering” from Fortune Website 2023-11-23 available on the e-campus website using all keywords and concepts covered in the course.**

---
## Question 3

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### Question 3.1
**Import data in Excel (2 stocks, CAC40 index, 5-week interest rate from the US Treasury). Sort data by date and make sure that all dates coincides for all columns. Adjust cells if there are missing values.**

In [2]:
# Data for the 2 stocks
air_liquide_stock = pd.read_csv('AI.PA.csv')
peugeot_stock = pd.read_csv('UG.PA.csv')

# Data for the CAC40 index
CAC40 = pd.read_csv('^FCHI.csv')

# Data for 5-week interest rate from the US Treasury
interest_rate = pd.read_csv('^IRX.csv')

# List of the dataframes
df_list = [air_liquide_stock, peugeot_stock, CAC40, interest_rate]

In [3]:
# Function to replace the null (nan) values of the datavrframes with the mean of the column
def replace_nan_with_mean(df_list):
    updated_dfs = []
    for df in df_list:
        for col in df.columns:
            if df[col].isnull().any():
                df[col].fillna(df[col].mean(), inplace=True)
        updated_dfs.append(df)
    return updated_dfs

updated_list = replace_nan_with_mean(df_list)

In [4]:
# Check if the dataframes had null values and have been updated
if updated_list == df_list:
    print("The dataframes didn't have null values")
else:
    print("The dataframes had null values and have been updated")

The dataframes didn't have null values

In [5]:
# Dimensions of the dataframes
print(f"Air liquid stock shape = {air_liquide_stock.shape}")
print(f"Peugeot stock shape = {peugeot_stock.shape}")
print(f"CAC40 shape = {CAC40.shape}")
print(f"Interest rate shape = {interest_rate.shape}")

Air liquid stock shape = (255, 7)
Peugeot stock shape = (255, 7)
CAC40 shape = (255, 7)
Interest rate shape = (252, 7)

In [6]:
# Function to convert the date column from string to datetime
def str_to_date(column_name, df_list):
    for df in df_list:
        df[column_name] = pd.to_datetime(df[column_name])
    return df_list

In [7]:
def align_dataframes(lista_dfs):
    # Create a set with all the dates present in all the dataframes
    dates = set.intersection(*(set(df['Date']) for df in lista_dfs))

    # Criates a new list of dataframes, where each dataframe is filtered to contain only the dates present in all dataframes
    list_aligned_dfs = [df[df['Date'].isin(dates)].sort_values('Date').reset_index(drop=True) for df in lista_dfs]

    # Verifies if all the dates are present in all the dataframes
    for data in dates:
        if not all(data in df['Date'].values for df in list_aligned_dfs):
            # If a date is not present in all dataframes, remove that date from all dataframes
            list_aligned_dfs = [df[df['Date'] != data] for df in list_aligned_dfs]

    return list_aligned_dfs

dataframe = align_dataframes(str_to_date("Date",updated_list))

In [8]:
print(f"Air liquid stock:")
dataframe[0]

Air liquid stock:

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-10-24,105.150002,105.750000,104.500000,104.550003,102.062950,941514
1,2017-10-25,105.800003,108.099998,105.650002,107.150002,104.601097,1583835
2,2017-10-26,107.599998,108.150002,106.849998,108.150002,105.577316,1502080
3,2017-10-27,108.250000,109.800003,108.150002,109.199997,106.602333,1103835
4,2017-10-30,109.199997,109.400002,108.150002,109.000000,106.407089,661225
...,...,...,...,...,...,...,...
244,2018-10-17,108.150002,109.099998,106.300003,106.699997,106.699997,920697
245,2018-10-18,106.949997,108.000000,105.750000,106.250000,106.250000,1190049
246,2018-10-19,107.000000,107.050003,104.599998,105.699997,105.699997,1599979
247,2018-10-22,106.650002,106.949997,105.750000,106.199997,106.199997,927390
248,2018-10-23,105.250000,107.300003,104.750000,104.949997,104.949997,1319813

In [9]:
print(f"Peugeot stock:")
dataframe[1]

Peugeot stock:

          Date       Open       High        Low      Close  Adj Close   Volume
0   2017-10-24  20.059999  20.370001  19.985001  20.370001  20.370001  2962662
1   2017-10-25  20.500000  20.555000  19.905001  20.055000  20.055000  5756417
2   2017-10-26  20.014999  20.315001  19.959999  20.235001  20.235001  2995521
3   2017-10-27  20.400000  20.510000  20.190001  20.250000  20.250000  2635220
4   2017-10-30  20.280001  20.469999  20.145000  20.215000  20.215000  2090823
..         ...        ...        ...        ...        ...        ...      ...
244 2018-10-17  21.760000  21.820000  20.410000  20.650000  20.650000  5217111
245 2018-10-18  20.650000  21.090000  20.600000  20.680000  20.680000  2721052
246 2018-10-19  20.690001  20.690001  19.305000  20.160000  20.160000  5880226
247 2018-10-22  20.360001  20.629999  19.535000  19.750000  19.750000  2932595
248 2018-10-23  19.250000  20.100000  19.055000  20.030001  20.030001  6235014

[249 rows x 7 columns]

In [10]:
print(f"CAC40:")
dataframe[2]

CAC40:

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-10-24,5377.859863,5413.029785,5377.859863,5394.799805,5394.799805,74560600
1,2017-10-25,5399.609863,5416.540039,5364.160156,5374.890137,5374.890137,80466800
2,2017-10-26,5383.439941,5459.609863,5375.259766,5455.399902,5455.399902,90950700
3,2017-10-27,5470.339844,5513.529785,5470.240234,5494.129883,5494.129883,95585200
4,2017-10-30,5488.330078,5507.560059,5487.290039,5493.629883,5493.629883,67428800
...,...,...,...,...,...,...,...
244,2018-10-17,5187.109863,5205.379883,5117.229980,5144.950195,5144.950195,90604000
245,2018-10-18,5150.229980,5175.589844,5115.310059,5116.790039,5116.790039,99240000
246,2018-10-19,5119.640137,5133.589844,5057.450195,5084.660156,5084.660156,130238900
247,2018-10-22,5130.290039,5135.689941,5052.240234,5053.310059,5053.310059,74610400
248,2018-10-23,4991.910156,5009.430176,4955.669922,4967.689941,4967.689941,0

In [11]:
print(f"Interest rate:")
dataframe[3]

Interest rate:

          Date   Open   High    Low  Close  Adj Close  Volume
0   2017-10-24  1.098  1.098  1.098  1.098      1.098       0
1   2017-10-25  1.095  1.098  1.080  1.083      1.083       0
2   2017-10-26  1.080  1.083  1.075  1.080      1.080       0
3   2017-10-27  1.075  1.075  1.073  1.073      1.073       0
4   2017-10-30  1.073  1.080  1.073  1.075      1.075       0
..         ...    ...    ...    ...    ...        ...     ...
244 2018-10-17  2.260  2.270  2.260  2.260      2.260       0
245 2018-10-18  2.258  2.260  2.255  2.255      2.255       0
246 2018-10-19  2.255  2.260  2.255  2.260      2.260       0
247 2018-10-22  2.258  2.260  2.258  2.258      2.258       0
248 2018-10-23  2.285  2.290  2.285  2.290      2.290       0

[249 rows x 7 columns]

### Question 3.2
**Give a short financial analysis of the two stocks by using relevant concepts of the course.**

In [12]:
updated_list[0].to_csv('air_liquide_stock.csv', index=False)
updated_list[1].to_csv('peugeot_stock.csv', index=False)

### Question 3.3
**Compute the return for both stocks and for the CAC40 index. Comment on your results.**

### Question 3.4
**Compute the coefficients of Kurtosis and of asymmetry of the 3 series of `Question 3.3`. Plot the histograms and comment on your results.**

## Question 3.5
**Compute the standard errors of the return for both stocks for the full period and then for 3 sub-periods of equal size. Is volatility constant?**

## Question 3.6
**Compute the correlation between each stock and the CAC40. Comment on your results.**

## Question 3.7
**Compute the returns of a portfolio in which both stocks have an equal weight. Compute the average return and the standard deviation over the whole sample period. Comment on your results.**

## Question 3.8
**Consider a portfolio with one stock and the risk-free interest rate (you can choose the stock out of the two that are available). What is the optimal portfolio allocation between these two assets for an investor with a utility function presented in the course and $A=1.5$?**

## Question 3.9
**Consider the following 3 portfolios: portfolio 1 has stock 1 as the only component; portfolio 2 has stock 2 as the only component; portfolio 3 is the portfolio of `Question 3.7`. These are the only portfolio available to investors. Draw the efficient frontier. Which portfolio are inefficient?**

## Question 3.10
**Consider the portfolio of `Question 3.7`. Compute the Sharpe ratio, the Sortino ratio, the Sterling ratio. Why are there differences between these ratios?**

## Question 3.11
**Compute the empirical VAR at $1\%$ for the same portfolio. Compute the 1st percentile of the normal distribution with mean and variance corresponding respectively to the empirical mean and to the empirical variance. Comment on your results.**

## Question 3.12
**Compute the VAR using resampling with 1000 observations. Compute the $1\%$ VAR on the simulated data set. Comment on your results.**

---
## Question 4

**Run an automated trading algorithm using any method you want (moving averages, candlesticks, patterns, ML, …) over the sample period. You can only have 3 positions: buy/sell, short/cover, do nothing. You cannot use derivative products. Can you beat the market?**